<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PRODUCTOS</span>
          <button class="btn btn-success float-end" routerLink="/create-product">NUEVO</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoría</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of listProducts">
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.location }}</td>
                <td>{{ product.price }}</td>
                <td>
                  <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                  <i (click)="deleteProducts(product._id)" class="fas fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h6 style="text-align: center; margin-top: 10px;"*ngIf="listProducts.length == 0"> No hay Productos para mostrar</h6>
        </div>
      </div>
    </div>
  </div>
</div>
